APP_NAME="API Gateway"
APP_PORT=4000
APP_SECRET=mindprintlearning

DATABASE_TYPE=mysql
DATABASE_URL="mysql://root:yygn6%5BXkE%23vJbx@development.mindprintlearning.com:3306/application_dev"
DATABASE_HOST=development.mindprintlearning.com
DATABASE_PORT=3306
DATABASE_NAME=application_dev
DATABASE_USERNAME=root
DATABASE_PASSWORD=yygn6%5BXkE%23vJbx
